In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv('jamesbond.csv')
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [13]:
# The .set_index() and .reset_index() Methods
bond.set_index("Film", inplace=True)

In [14]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [16]:
bond.reset_index(drop=False, inplace=True)

In [17]:
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [19]:
# Retrieve Rows by Index Label with .loc[]
bond = pd.read_csv('jamesbond.csv', index_col='Film')

# It is better to sort with the index, as it will be fast for lookup 
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [29]:
'Gold Bond' in bond.index

False

In [21]:
bond.loc['Casino Royale']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [28]:
bond.loc[['Casino Royale', 'A View to a Kill']]
bond.loc[['Casino Royale', 'A View to a Kill', 'Gold Bond']]

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006.0,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967.0,David Niven,Ken Hughes,315.0,85.0,NaN
A View to a Kill,1985.0,Roger Moore,John Glen,275.2,54.5,9.1
Gold Bond,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
bond.loc['Casino Royale' : 'Octopussy']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [33]:
# Retrieve Rows by Index Label with .iloc[]
bond = pd.read_csv('jamesbond.csv')
bond.loc[15]
bond.iloc[15]
bond.iloc[15:20]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [36]:
bond.iloc[[10, 20, 25]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [37]:
bond.iloc[20:]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [40]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
bond.head(2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [46]:
bond.iloc[0]
bond.iloc[0:5]
bond.iloc[0:10:2]
bond.iloc[[2,5,8,9]]
bond.iloc[:5]
bond.iloc[:-5:-1]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [47]:
# The Catch-All .ix[] Method
bond.ix['GoldenEye']

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [49]:
bond.ix[['Moonraker', 'Spectre']]

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [50]:
bond.ix['Moonraker': 'Spectre']

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [52]:
# raises a Keyerror
bond.ix['Secret Bond']
bond.ix[['Spectre', 'Secret Bond']]

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: 'Secret Bond'

In [53]:
# Second Arguments to .loc[], .iloc[], and .ix[] Methods
bond.loc['Moonraker', 'Actor']

'Roger Moore'

In [54]:
bond.iloc[1, 2]

'Martin Campbell'

In [55]:
bond.loc['Moonraker', ['Actor', 'Director', 'Year']]

Actor         Roger Moore
Director    Lewis Gilbert
Year                 1979
Name: Moonraker, dtype: object

In [58]:
bond.iloc[3:9, [1, 2, 4]]

                                Actor         Director  Budget
Film
Diamonds Are Forever     Sean Connery     Guy Hamilton    34.7
Die Another Day        Pierce Brosnan     Lee Tamahori   154.2
Dr. No                   Sean Connery    Terence Young     7.0
For Your Eyes Only        Roger Moore        John Glen    60.2
From Russia with Love    Sean Connery    Terence Young    12.6
GoldenEye              Pierce Brosnan  Martin Campbell    76.9

In [61]:
# Set New Values for a Specific Cell or Row
bond.ix['Dr. No']
bond.ix['Dr. No', 'Actor'] = "Sir Sean Connery"

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
bond.ix['Dr. No', 'Actor']

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Sir Sean Connery'

In [64]:
bond.ix['Dr. No', ['Box Office', 'Budget', 'Bond Actor Salary']]  = [448000000, 7000000, 600000 ]

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [65]:
bond.ix['Dr. No', ['Box Office', 'Budget', 'Bond Actor Salary']]

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Box Office           4.48e+08
Budget                  7e+06
Bond Actor Salary      600000
Name: Dr. No, dtype: object

In [68]:
# Set Multiple Values in DataFrame
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [73]:
mask = bond['Actor'] == 'Sean Connery'
bond[mask]['Actor'] = 'Sir Sean Connery'

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
df2 = bond[mask]
df2['Actor'] = 'Sir Sean Connery'

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
bond.ix[mask, 'Actor'] = 'Sir Sean Connery'

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [80]:
bond.ix[mask, 'Actor']

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Film
Diamonds Are Forever     Sir Sean Connery
From Russia with Love    Sir Sean Connery
Goldfinger               Sir Sean Connery
Never Say Never Again    Sir Sean Connery
Thunderball              Sir Sean Connery
You Only Live Twice      Sir Sean Connery
Name: Actor, dtype: object

In [81]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [83]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [85]:
bond.loc[mask, 'Actor'] = 'Sir Sean Connery'

In [86]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [89]:
# Rename Index Labels or Columns in a DataFrame
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)

In [90]:
bond.rename(columns = {'Year' : 'Release Date', 'Box Office' : 'Revenue'}, inplace=True )

In [91]:
bond.head(2)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [92]:
bond.rename(index = {'Dr. No' : 'Doctor No', 'GoldenEye' : 'Golden Eye'}, inplace=True)

In [93]:
bond.ix['Doctor No']

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Release Date                  1962
Actor                 Sean Connery
Director             Terence Young
Revenue                      448.8
Budget                           7
Bond Actor Salary              0.6
Name: Doctor No, dtype: object

In [95]:
bond.columns = ['Release Year', 'Actor', 'Director', 'Gross', 'Cost', 'Salary']

In [96]:
bond.head()

,Release Year,Actor,Director,Gross,Cost,Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [97]:
# Delete Rows or Columns from a DataFrame
bond.drop(['A View to a Kill', 'Die Another Day'])

,Release Year,Actor,Director,Gross,Cost,Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Doctor No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [99]:
bond.drop('Gross', axis=1)

,Release Year,Actor,Director,Cost,Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Doctor No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [100]:
bond.drop(['Director', 'Cost', 'Salary'], axis=1)

                                 Release Year           Actor  Gross
Film
A View to a Kill                         1985     Roger Moore  275.2
Casino Royale                            2006    Daniel Craig  581.5
Casino Royale                            1967     David Niven  315.0
Diamonds Are Forever                     1971    Sean Connery  442.5
Die Another Day                          2002  Pierce Brosnan  465.4
Doctor No                                1962    Sean Connery  448.8
For Your Eyes Only                       1981     Roger Moore  449.4
From Russia with Love                    1963    Sean Connery  543.8
Golden Eye                               1995  Pierce Brosnan  518.5
Goldfinger                               1964    Sean Connery  820.4
Licence to Kill                          1989  Timothy Dalton  250.9
Live and Let Die                         1973     Roger Moore  460.3
Moonraker                                1979     Roger Moore  535.0
Never Say Never Again                    1983    Sean Connery  380.0
Octopussy                                1983     Roger Moore  373.8
On Her Majesty's Secret Service          1969  George Lazenby  291.5
Quantum of Solace                        2008    Daniel Craig  514.2
Skyfall                                  2012    Daniel Craig  943.5
Spectre                                  2015    Daniel Craig  726.7
The Living Daylights                     1987  Timothy Dalton  313.5
The Man with the Golden Gun              1974     Roger Moore  334.0
The Spy Who Loved Me                     1977     Roger Moore  533.0
The World Is Not Enough                  1999  Pierce Brosnan  439.5
Thunderball                              1965    Sean Connery  848.1
Tomorrow Never Dies                      1997  Pierce Brosnan  463.2
You Only Live Twice                      1967    Sean Connery  514.2

In [101]:
actor = bond.pop('Actor')

In [102]:
bond

,Release Year,Director,Gross,Cost,Salary
Film,,,,,
A View to a Kill,1985,John Glen,275.2,54.5,9.1
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Doctor No,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4

In [103]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)

In [106]:
del bond['Director']

In [107]:
bond.head()

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
Casino Royale,1967,David Niven,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,465.4,154.2,17.9

In [158]:
# Create Random Sample with the .sample() Method
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)

In [110]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [114]:
bond.sample()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [116]:
bond.sample(n=5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN

In [118]:
bond.sample(n=5,axis=1)

,Box Office,Actor,Director,Year,Bond Actor Salary
Film,,,,,
A View to a Kill,275.2,Roger Moore,John Glen,1985,9.1
Casino Royale,581.5,Daniel Craig,Martin Campbell,2006,3.3
Casino Royale,315.0,David Niven,Ken Hughes,1967,NaN
Diamonds Are Forever,442.5,Sean Connery,Guy Hamilton,1971,5.8
Die Another Day,465.4,Pierce Brosnan,Lee Tamahori,2002,17.9
Dr. No,448.8,Sean Connery,Terence Young,1962,0.6
For Your Eyes Only,449.4,Roger Moore,John Glen,1981,NaN
From Russia with Love,543.8,Sean Connery,Terence Young,1963,1.6
GoldenEye,518.5,Pierce Brosnan,Martin Campbell,1995,5.1
Goldfinger,820.4,Sean Connery,Guy Hamilton,1964,3.2
Licence to Kill,250.9,Timothy Dalton,John Glen,1989,7.9
Live and Let Die,460.3,Roger Moore,Guy Hamilton,1973,NaN
Moonraker,535.0,Roger Moore,Lewis Gilbert,1979,NaN
Never Say Never Again,380.0,Sean Connery,Irvin Kershner,1983,NaN
Octopussy,373.8,Roger Moore,John Glen,1983,7.8
On Her Majesty's Secret Service,291.5,George Lazenby,Peter R. Hunt,1969,0.6
Quantum of Solace,514.2,Daniel Craig,Marc Forster,2008,8.1
Skyfall,943.5,Daniel Craig,Sam Mendes,2012,14.5
Spectre,726.7,Daniel Craig,Sam Mendes,2015,NaN
The Living Daylights,313.5,Timothy Dalton,John Glen,1987,5.2
The Man with the Golden Gun,334.0,Roger Moore,Guy Hamilton,1974,NaN
The Spy Who Loved Me,533.0,Roger Moore,Lewis Gilbert,1977,NaN
The World Is Not Enough,439.5,Pierce Brosnan,Michael Apted,1999,13.5
Thunderball,848.1,Sean Connery,Terence Young,1965,4.7
Tomorrow Never Dies,463.2,Pierce Brosnan,Roger Spottiswoode,1997,10.0
You Only Live Twice,514.2,Sean Connery,Lewis Gilbert,1967,4.4

In [117]:
bond.sample(frac=.25)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [120]:
# The .nsmallest() and .nlargest() Methods
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [121]:
bond.sort_values('Box Office', ascending=False).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [122]:
bond.nlargest(3, 'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [123]:
bond.nsmallest(2, 'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [124]:
bond['Box Office'].nlargest(3)

Film
Skyfall        943.5
Thunderball    848.1
Goldfinger     820.4
Name: Box Office, dtype: float64

In [125]:
bond['Year'].nsmallest(4)

Film
Dr. No                   1962
From Russia with Love    1963
Goldfinger               1964
Thunderball              1965
Name: Year, dtype: int64

In [126]:
# Filtering with the .where() Method
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [130]:
actor = bond['Actor'] == 'Sean Connery'
bond[actor]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [132]:
bond.where(actor)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [134]:
bond.where(bond['Box Office'] > 800)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
# The .query() Method
bond.columns = [column_name.replace(" ", "_") for column_name in bond.columns]

In [137]:
bond.head()

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [138]:
bond.query('Actor == "Sean Connery"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [146]:
bond.query('Bond_Actor_Salary > 7' )

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [150]:
bond.query('Actor == "Roger Moore" or Director == "Jahn Glen"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [152]:
bond.query("Actor in ['Roger Moore', 'Daniel Craig', 'Pierce Brosnan']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [153]:
bond.query("Actor not in ['Roger Moore', 'Daniel Craig', 'Pierce Brosnan']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [159]:
# A Review of the .apply() Method on Single Columns
def contomillions(number):
    return str(number) + "Millions!"

In [ ]:
bond['Box_Office'] = bond['Box_Office'].apply(contomillions)
bond['Budget'] = bond['Budget'].apply(contomillions)

In [160]:
columns = ['Box Office', 'Budget', 'Bond Actor Salary']
for col in columns:
    bond[col] = bond[col].apply(contomillions)

In [161]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2Millions!,54.5Millions!,9.1Millions!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5Millions!,145.3Millions!,3.3Millions!
Casino Royale,1967,David Niven,Ken Hughes,315.0Millions!,85.0Millions!,nanMillions!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5Millions!,34.7Millions!,5.8Millions!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4Millions!,154.2Millions!,17.9Millions!

In [162]:
# The .apply() Method with Row Values
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)

In [163]:
def goodmovie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else:
        return "No Clue"

bond.apply(goodmovie, axis=1)

Film
A View to a Kill                   Enjoyable
Casino Royale                        No Clue
Casino Royale                        No Clue
Diamonds Are Forever                 No Clue
Die Another Day                     The Best
Dr. No                               No Clue
For Your Eyes Only                 Enjoyable
From Russia with Love                No Clue
GoldenEye                           The Best
Goldfinger                           No Clue
Licence to Kill                      No Clue
Live and Let Die                     No Clue
Moonraker                          Enjoyable
Never Say Never Again                No Clue
Octopussy                          Enjoyable
On Her Majesty's Secret Service      No Clue
Quantum of Solace                    No Clue
Skyfall                              No Clue
Spectre                              No Clue
The Living Daylights                 No Clue
The Man with the Golden Gun          No Clue
The Spy Who Loved Me               Enjoyable
The World Is Not Enough             The Best
Thunderball                          No Clue
Tomorrow Never Dies                 The Best
You Only Live Twice                  No Clue
dtype: object

In [166]:
# The .copy() Method
directors = bond['Director'].copy()
directors.head()

Film
A View to a Kill              John Glen
Casino Royale           Martin Campbell
Casino Royale                Ken Hughes
Diamonds Are Forever       Guy Hamilton
Die Another Day            Lee Tamahori
Name: Director, dtype: object

In [168]:
directors['A View to a Kill'] = 'Mr John Glen'
directors.head()

Film
A View to a Kill           Mr John Glen
Casino Royale           Martin Campbell
Casino Royale                Ken Hughes
Diamonds Are Forever       Guy Hamilton
Die Another Day            Lee Tamahori
Name: Director, dtype: object

In [169]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9